<?xml version="1.0"?>
<model>
  <name>MarsSurface2</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>  <!-- SDF-Version für Gazebo -->

  <author>
    <name>Dein Name</name>
    <email>deine@email.de</email>
  </author>

  <description>
    Mars-Oberflächenmodell mit DAE-Mesh.
  </description>
</model>
